.intro{
  opacity:0;
  transition:opacity 0.5s ease;
  transition-delay:0s;
  color: var(--aboutTitleColor);
  pointer-events: none;
}

._aboutMenu .intro{
  opacity:1;
  transition:opacity 1s ease;
  pointer-events: all;
  transition-delay:3.4s;
  
}

#introHeadline{
  position:absolute;
  width:95vw;
  font-size:3em;
  transform: translateX(10vw);
  font-weight:300;
  transition:all 1s ease;
  top:10vh;
  margin-top:1vh;
  text-align: left;
}

#introBody{
  width: 80vw;
  /* width:95vw; */
  transform:translateX(2.5vw);
  font-size:2em;
  text-align: left;
  transform: translateX(10vw);
  position:absolute;
  font-weight:300;
  transition:all 1s ease;
  top:17.5vh;
  
  border-left:0.125em solid #cacaca;
  padding-left:0.5em;
}

b {
  font-weight: 300;
}

@media (max-width: 500px), (max-aspect-ratio: 11/16) {
  #introBody{
    width:95vw;
    transform:translateX(2.5vw);
    font-size:2.8em;
    text-align: left;
  }
  #introHeadline{
    width:95vw;
    transform:translateX(2.5vw);
    font-size:2.8em;
    text-align: left;
  }
  #siteMenuButton{
    font-weight:400;
  }
}