/* *PREPARING TO DELETE THIS PAGE*
This was coded back in July of 2022 when I first self taught myself CSS.
I'm in the works of completely redoing this page in a more stylistic, efficient way. Stay tuned!*/
body{
    font-family: 'Roboto';
    margin:auto;
    width:100vw;
    
}

#banner{
    text-align: center;
    top:2em;
    font-size: 2em;
    color:white;
    font-weight:300;
    cursor:pointer;
}
.red{
    color:red;
    font-weight:400
}

a{
    color: inherit;
}
.preload{
    height:0%;
    width:0%;
}
#color{
    z-index: -3;
    display: grid; 
    display: grid; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;background: linear-gradient(45deg, rgba(24,24,48,1) 0%, rgba(96,24,48,1) 100%);
}
#background {
    z-index: -2;
    display: grid; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center fixed no-repeat;
    background-image: url("sign-1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition:background-image 1s,opacity 2s;
}
.gallery {
    z-index: -1;
    display: grid; 
    position:fixed;
    grid-template-columns: 0.25fr 1.7fr 0.25fr; 
    grid-template-rows: 1.1fr 0.75fr 1.1fr; 
    grid-template-areas: 
      ". . ."
      "lefthandle . righthandle"
      "lower lower lower"; 
    height:0vh;
    top:50vh;
    width:100%;
}
.scrollover{
    position:absolute;
    right:10vw;
    left:10vw;
    top:85vh;
    width:80vw;
    background-color: rgba(14, 14, 14, 1);
    border-radius: 0.5em;
    z-index: -1;
    transition: opacity 1s;
    padding:1em;
}
.lower {
    grid-area: lower;
    text-align: center;
}
.handle {
    vertical-align: middle;
    font-size: 3.5em;
    font-weight:bolder;
    color: #cacaca;

}
.lefthandle {
    grid-area: lefthandle;
    text-align: left;
}

.righthandle {
    grid-area: righthandle;
    text-align: right;
}

#impact{
    font-weight: bold;
    color: #cacaca;
}

b{
  font-weight: bold;
  color: #cacaca;
}

#title{
    vertical-align: middle;
    font-size: xx-large;
    font-size: 2.5em;
    font-weight: bold;
    color: #cacaca;
    transition: opacity 1s;
}

#motto{
    vertical-align: middle;
    font-size: xx-large;
    font-size: 2em;
    font-weight:300;
    color: #cacaca;
    transition: opacity 1s;
}
#cesiumLearnMore{
    vertical-align: middle;
    font-size: xx-large;
    font-size: 2em;
    font-weight: bold;
    color: #cacaca;
    opacity:0;
    transition: opacity 1s;
    cursor: pointer;
}
#cesiumCAD{
    vertical-align: middle;
    font-size: xx-large;
    font-size: 2em;
    font-weight: bold;
    color: #cacaca;
    opacity:0;
    transition: opacity 1s;
    cursor: pointer;
}
h1{    
    background: rgb(18, 18, 18);    
    display:inline;
    
}
h2{    
    background: rgba(18, 18, 18, 0.8);    
    display:inline;
    cursor: pointer;
}
#headline{
    font-size: 1.5em;
    
    color: #cacaca;
}