.intro{
  opacity:0;
  transition:opacity 0.5s ease;
  transition-delay:0s;
  color: var(--aboutTitleColor);
  
}

._aboutMenu .intro{
  opacity:1;
  transition:opacity 1s ease;
  transition-delay:3.4s;
  
}

#introHeadline{
  position:absolute;
  width:100%;
  font-size:3.5vw;
  
  font-weight:300;
  transition:opacity 1s ease;
  top:10vh;
  margin-top:1vh;
  text-align: center;
}

#introBody{
  width:100%;
  font-size:2.75vw;
  position:absolute;
  font-weight:200;
  transition:opacity 1s ease;
  top:15vh;
  margin-top:1vh;
  text-align: center;
}