@import url('./Univa-Nova/stylesheet.css');
@import url('scroll.css');


:root {
    --black: #141414;
    --white: #EEEEEE;
    --cream: #d8af8d;
    --maered: #ff0000;
    --bannerheight: 35%;
    --nodecolor: #FFF;
}

.bg {
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
}

#bg1 {

    opacity: 0;
    z-index: -2;
}

@keyframes opacity-reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bg2 {
    background: url('./backgrounds/car.webp') fixed;
    opacity: 0;
    z-index: -3;
}

body {
    background-color: var(--black);
    transition: background-color 0.5s;
}

body.light-mode {
    background-color: var(--white);
}

body {
    font-family: 'Univa Nova';
}

#main{
    position: static;
    width:max-content;
    height: max-content;
}

#banner {
    position: absolute;
    pointer-events: all;
    width: max-content;
    top: var(--bannerheight);
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Univa Nova', sans-serif;
    font-size: 5em;
    font-weight: 100;
    /* mix-blend-mode: lighten; */
    color: white;
    padding-left: 1rem;
    z-index:10;
}

/*linear-gradient(130deg, #0000FF, #FF00FF 50%, #f00 90.05%);*/
#banner::after {
    border-radius: 9999px;
    height: 0.25rem;
    position: absolute;
    left: 0%;
    bottom: 5%;
    right: 0%;
    content: '';
    background: #f00;
    box-shadow: 0px 0px 10px #F00;
    animation: banner-underline 0.5s both;
    animation-delay: 0.5s;
}

.sp #banner{
    animation:banner-out 0.25s both;
}
.sp #bgDetails{
    animation:bgdetails-out 0.25s both;
}

@keyframes banner-underline {
    0% {
        width: 0%;
        left: 0%;
        box-shadow: 0px 0px 10px #FFF, 0px 0px 10px #F00;
    }

    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        left: 60%;
        width: 40%;
        box-shadow: 0px -2px 10px #F00;
    }
}
@keyframes bgdetails-out{
    0%{
        opacity:1;
        transform: translate(0%, 0%);
    }
    99%{
        opacity:0;
        transform: translate(0%, -100%);
    }
    100%{
        opacity:0;
        visibility:hidden;
    }
}
@keyframes banner-out{
    0%{
        opacity:1;
        transform: translate(-50%, -50%);
    }
    99%{
        opacity:0;
        transform: translate(-50%, -100%);
    }
    100%{
        opacity:0;
        visibility:hidden;
    }
}
@keyframes opacity-out{
    0%{
        opacity:1;
    }
    99%{
        opacity:0;
    }
    100%{
        opacity:0;
        visibility:hidden;
    }
}
#projectsbtn {
    border-top-left-radius: 0.5em;
    background: var(--maered);
    color: var(--white);
}

#aboutbtn {
    --nodecolor: var(--cream);
    background: var(--black);
    color: var(--cream);
}
#bgDetails{
    transition:all 0.5s ease;
    position:absolute;
    color: var(--white);
    left: 9.5%;
    top:73%;
    text-align: left;
    font-size: 5rem;
    opacity:0;
    text-shadow: 0px 0px 5px black ;
    right:calc(var(--nav-size) / 2);
}

#bgTitle{
    font-family: 'Univa Nova Hairline';
}

#bgDesc{
    font-family: 'Univa Nova';
    font-size: 0.5em;
}
#bgSetting{
    font-family: 'Univa Nova';
    font-size: 0.25em;
}
@media (max-width: 800px), (max-aspect-ratio: 14/16) { /*de-yassifies the site for mobile users*/
    #bgDetails{
        top:calc(66.5%);
      }
      
  }
  
@media (max-width: 600px), (max-aspect-ratio: 11/16) { /*de-yassifies the site for mobile users*/
    #banner{
        font-size: 8em;
    }
    #bgDetails{
    font-size:7rem;
    top:60%;
    right:calc(var(--nav-size) / 3);
  }
    #bgTitle{
        font-weight:300;
        font-style:normal;
    }
  #bgSetting{
    font-size:0.3em;
  }
  
}