#particles>div{
    --opacity:0.5;
    position:absolute;
    height:10rem;
    width:0.5rem;
      
    animation:rise-in 0.75s ease both;
    border-radius:99px
}

.p_deleting>div{
    animation:rise-out 0.5s ease both !important;
}

@keyframes rise-in{
    0%{
        opacity:0;
        transform: translate(0%, 50%);
    }
    100%{
        opacity:var(--opacity);
        transform: translate(0%, -100%);
    }
}
@keyframes rise-out{
    0%{
        opacity:var(--opacity);
        transform: translate(0%, -100%);
    }
    100%{
        opacity:0;
        transform: translate(0%, -250%);
    }
}